

.input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  margin-bottom: 0.2rem;
  color: var(--primary);
  font-size: var(--body-font-size-desktop);
  padding-left: 2px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .label {
    font-size: var(--body-font-size-mobile);
  }
}

.input input,
.input select,
.input textarea {
  width: 100%;
  max-width: 100%;
  height: 45px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid var(--secondary);
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  font-size: var(--body-font-size-desktop);
  color: var(--primary);
}

@media (max-width: 768px) {
  .input input,
  .input select,
  .input textarea {
    font-size: var(--body-font-size-mobile);
  }
}

.input option {
  color: var(--primary);
}

.input textarea {
  height: max-content;
  resize: vertical;
  font-family: var(--font-secondary);
}


.input input:hover,
.input select:hover,
.input textarea:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input input:active,
.input select:active,
.input textarea:active {
  transform: scale(0.95);
}

.input input:focus,
.input select:focus,
.input textarea:focus {
  border: 2px solid var(--primary-light);
}