.ceremonyContent {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .ceremonyContent {
   flex-direction: column;
   margin-bottom: -32px;
  }
}

.venueImage img {
  max-width: 440px;
}

@media (max-width: 768px) {
  .venueImage img {
    max-height: 250px;
  }
}

.ceremonyDetails {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.detailItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: var(--body-font-size-desktop);
  color: var(--grey);
  text-align: center;
}

.button > button {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 768px) {
  .detailItem {
    font-size: var(--body-font-size-mobile);
  }
  
  .ceremonyContent {
    grid-template-columns: 1fr;
  }
}