.button {
  background-color: var(--grey);
  font-family: 'Poppins', sans-serif;
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: none;
  font-size: var(--body-font-size-desktop);
}

.button:hover {
  background-color: var(--primary);
}

.button.disabled {
  background-color: var(--secondary);
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .button {
    font-size: var(--body-font-size-mobile);
  }
}