

.container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.container.right {
  flex-direction: row-reverse;
}

.icon {
  width: 70px;
  height: 70px;
  position: absolute;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .icon {
    width: 60px;
    height: 60px;
  }
}

.title {
  font-family: var(--font-primary);
  font-size: 3.5rem;
  text-align: start;
  font-weight: 300;
  position: relative;
  letter-spacing: 4px;
  color: var(--primary);
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .title {
    font-size: 3rem;
  }
}

.left > .title {
  margin-left: 2rem;
}

.right > .title {
  margin-right: 2rem;
}


@media (max-width: 375px) {
  .title {
    font-size: 2.5rem;
  }
}


.condensed {
  line-height: 1;
}